export TOWER_ACCESS_TOKEN=$(op read "op://Employee/Enterprise Staging Platform/credential" --no-newline)
export TOWER_WORKSPACE_ID=$(op read "op://Employee/Enterprise Staging Platform/workspace_id" --no-newline)
export TOWER_API_ENDPOINT=$(op read "op://Employee/Enterprise Staging Platform/hostname" --no-newline)
