# Testing configs, jsons
scripts/py/test*
scripts/py/scidev/*/*.json

# Python
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/*

# Commitizen
node_modules/
package-lock.json
package.json
tw_pywrap.egg-info/*
build/*
