# Testing configs, jsons
scripts/py/test*
testing/*
# Python
# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
build/lib/*
*.egg-info/*

# Commitizen
node_modules/
package-lock.json
package.json
seqerakit.egg-info/*
build/*

.DS_Store
